# Beginner's Guide to using pandas

In [1]:
#import the necessary libraries
import pandas as pd

## We will begin by downloading a sample dataset

In [2]:
#use the pd.read_csv to get our file uploaded
df = pd.read_csv('hepatitis.csv')

In [6]:
df.head(10)

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.00,61,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.50,61,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.00,61,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,105,200,4.00,61,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.00,75,1
5,1,51,1,1,2,1,2,1,2,2,1,1,2,2,1.42,105,85,3.81,61,1
6,2,23,1,2,2,2,2,2,2,2,2,2,2,2,1.00,105,85,3.81,61,1
7,2,39,1,2,2,1,2,2,2,1,2,2,2,2,0.70,105,48,4.40,61,1
8,2,30,1,2,2,2,2,2,2,2,2,2,2,2,1.00,105,120,3.90,61,1
9,2,39,1,1,1,2,2,2,1,1,2,2,2,2,1.30,78,30,4.40,85,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   class           142 non-null    int64
 1   age             142 non-null    int64
 2   sex             142 non-null    int64
 3   steroid         142 non-null    int64
 4   antivirals      142 non-null    int64
 5   fatigue         142 non-null    int64
 6   malaise         142 non-null    int64
 7   anorexia        142 non-null    int64
 8   liver_big       142 non-null    int64
 9   liver_firm      142 non-null    int64
 10  spleen_palable  142 non-null    int64
 11  spiders         142 non-null    int64
 12  ascites         142 non-null    int64
 13  varices         142 non-null    int64
 14  bilirubin       142 non-null    float64
 15  alk_phosphate   142 non-null    int64
 16  sgot            142 non-null    int64
 17  albumin         142 non-null    float64
 18  protime         142 non-null    int64
 19  histology       142 non-null    int64
dtypes: float64(2), int64(18)
memory usage: 22.3 KB

In [8]:
df.describe()

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
count,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,1.816901,40.816901,1.105634,1.514085,1.838028,1.359155,1.619718,1.795775,1.823944,1.584507,1.809859,1.669014,1.880282,1.880282,1.382958,105.647887,83.507042,3.830493,61.704225,1.443662
std,0.388116,12.189182,0.308456,0.501571,0.369729,0.481451,0.487174,0.404561,0.382216,0.494551,0.393801,0.472234,0.325781,0.325781,1.166526,47.375099,82.417700,0.618103,17.696732,0.498575
min,1.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.300000,26.000000,14.000000,2.100000,0.000000,1.000000
25%,2.000000,32.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,0.700000,78.500000,32.250000,3.500000,56.250000,1.000000
50%,2.000000,39.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,100.000000,58.000000,3.900000,61.000000,1.000000
75%,2.000000,50.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.480000,119.750000,99.500000,4.200000,66.000000,2.000000
max,2.000000,78.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,8.000000,295.000000,648.000000,6.400000,100.000000,2.000000