# Beginner's Guide to using pandas

In [2]:
#import the necessary libraries
import pandas as pd

## We will begin by downloading a sample dataset

In [3]:
#use the pd.read_csv to get our file uploaded
df = pd.read_csv('hepatitis.csv')

In [4]:
df.shape

(150000, 6)

In [5]:
df.head(10)

   Number    City  Gender  Age   Income Illness
0       1  Dallas    Male   41  40367.0      No
1       2  Dallas    Male   54  45084.0      No
2       3  Dallas    Male   42  52483.0      No
3       4  Dallas    Male   40  40941.0      No
4       5  Dallas    Male   46  50289.0      No
5       6  Dallas  Female   36  50786.0      No
6       7  Dallas  Female   32  33155.0      No
7       8  Dallas    Male   39  30914.0      No
8       9  Dallas    Male   51  68667.0      No
9      10  Dallas  Female   30  50082.0      No

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   class           142 non-null    int64
 1   age             142 non-null    int64
 2   sex             142 non-null    int64
 3   steroid         142 non-null    int64
 4   antivirals      142 non-null    int64
 5   fatigue         142 non-null    int64
 6   malaise         142 non-null    int64
 7   anorexia        142 non-null    int64
 8   liver_big       142 non-null    int64
 9   liver_firm      142 non-null    int64
 10  spleen_palable  142 non-null    int64
 11  spiders         142 non-null    int64
 12  ascites         142 non-null    int64
 13  varices         142 non-null    int64
 14  bilirubin       142 non-null    float64
 15  alk_phosphate   142 non-null    int64
 16  sgot            142 non-null    int64
 17  albumin         142 non-null    float64
 18  protime         142 non-null    int64
 19  histology       142 non-null    int64
dtypes: float64(2), int64(18)
memory usage: 22.3 KB

In [8]:
df.describe()

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
count,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000,142.000000
mean,1.816901,40.816901,1.105634,1.514085,1.838028,1.359155,1.619718,1.795775,1.823944,1.584507,1.809859,1.669014,1.880282,1.880282,1.382958,105.647887,83.507042,3.830493,61.704225,1.443662
std,0.388116,12.189182,0.308456,0.501571,0.369729,0.481451,0.487174,0.404561,0.382216,0.494551,0.393801,0.472234,0.325781,0.325781,1.166526,47.375099,82.417700,0.618103,17.696732,0.498575
min,1.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.300000,26.000000,14.000000,2.100000,0.000000,1.000000
25%,2.000000,32.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,1.000000,2.000000,2.000000,0.700000,78.500000,32.250000,3.500000,56.250000,1.000000
50%,2.000000,39.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,100.000000,58.000000,3.900000,61.000000,1.000000
75%,2.000000,50.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.480000,119.750000,99.500000,4.200000,66.000000,2.000000
max,2.000000,78.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,8.000000,295.000000,648.000000,6.400000,100.000000,2.000000

In [9]:
df.age.value_counts()

38    8
30    8
34    7
36    7
39    6
50    6
44    5
37    5
42    5
45    5
51    5
54    4
28    4
27    4
47    4
32    4
40    3
52    3
20    3
49    3
23    3
56    3
31    3
25    3
57    2
22    2
24    2
61    2
41    2
48    2
58    2
33    2
26    1
78    1
35    1
43    1
72    1
46    1
53    1
59    1
60    1
62    1
64    1
65    1
66    1
69    1
7     1
Name: age, dtype: int64

In [13]:
df.isnull().sum()

class             0
age               0
sex               0
steroid           0
antivirals        0
fatigue           0
malaise           0
anorexia          0
liver_big         0
liver_firm        0
spleen_palable    0
spiders           0
ascites           0
varices           0
bilirubin         0
alk_phosphate     0
sgot              0
albumin           0
protime           0
histology         0
dtype: int64