# Beginner's Guide to using pandas

In [1]:
#import the necessary libraries
import pandas as pd

## We will begin by downloading a sample dataset

In [2]:
#use the pd.read_csv to get our file uploaded
df = pd.read_csv('hepatitis.csv')

In [3]:
df.head()

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.0,85,18,4.0,61,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.9,135,42,3.5,61,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.7,96,32,4.0,61,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.0,105,200,4.0,61,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.9,95,28,4.0,75,1

In [5]:
df.sex==2

0       True
1      False
2      False
3      False
4      False
       ...
137    False
138    False
139    False
140     True
141    False
Name: sex, Length: 142, dtype: bool

In [8]:
df[['sex','age']]

     sex  age
0      2   30
1      1   50
2      1   78
3      1   34
4      1   34
..   ...  ...
137    1   46
138    1   44
139    1   61
140    2   53
141    1   43

[142 rows x 2 columns]

In [4]:
df[df.sex==2]

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.0,85,18,4.00,61,1
19,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.9,48,20,4.20,64,1
23,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.4,45,18,4.30,70,1
26,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.4,175,55,2.70,36,1
30,2,41,2,2,1,1,1,1,2,2,2,2,2,2,0.7,81,53,5.00,74,1
31,2,26,2,1,2,2,2,2,2,1,2,2,2,2,0.5,135,29,3.80,60,1
35,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.3,150,68,3.90,61,1
44,2,28,2,2,2,1,1,2,2,1,2,2,2,2,1.8,191,420,3.30,46,1
55,2,45,2,1,2,1,1,2,2,2,1,2,2,2,1.0,85,75,3.81,61,1
72,2,34,2,1,1,2,2,2,2,1,2,2,2,2,0.6,30,24,4.00,76,1
78,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.3,141,156,3.90,58,1
84,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.9,230,117,3.40,41,2
107,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.2,119,136,3.81,61,2
116,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.7,70,24,4.10,100,2
140,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.5,81,19,4.10,48,2